/* General */
* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: #f9efdb;
    font-size: 2em;
    height: 3em;
    gap: 1%;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
header img {
    margin-top: -0.5%;
}
h2 {
    margin-left: 2%;
}

article {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 12em); /* Adjust for header and footer */
    background-image: url("../images/fondo3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    background: #f9efdb;
    height: 6em;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Players layout */
.players {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px; /* Adjust as needed */
}

/* Players column */
.players-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 10px; /* Adjust as needed */
}

/* Player style */
.player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw; /* Adjust as needed */
    height: 10vw; /* Adjust as needed */
    max-width: 120px; /* Ensure player boxes are not too large */
    max-height: 120px;
    margin: 5px 0;
    text-align: center;
    font-size: calc(1vw + 1vh); /* Adjust as needed */
    background-image: url("../images/football-shirt.png"); /* Replace with the actual image path */
    background-size: cover;
    background-position: center;
}

/* Hide empty players */
.player:empty {
    display: none;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .player {
        width: 15vw;
        height: 15vw;
    }
}

.wordle {
    background-color: blue;
    width: 100%;
}

.wordle .row {
    display: grid;
    gap: 5px;
    grid-template-columns: 62px 62px 62px 62px 62px;
    height: 62px;
    margin-bottom: 5px;
}

.wordle .letter {
    border: 1px solid var(--border-color);
}

.wordle .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
}

/* Keyboard */

.keyboard {
    margin: 50px auto 0;
}

.keyboard .row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.keyboard .letter,
.keyboard .action {
    align-items: center;
    background-color: var(--keyboard-gray-light);
    cursor: pointer;
    display: flex;
    font-size: 22px;
    height: 58px;
    justify-content: center;
    transition: filter 0.2s;
    width: 43px;
}

.keyboard .letter:hover,
.keyboard .action:hover {
    filter: brightness(0.8);
}

.keyboard .enter {
    font-size: 17px;
    width: 83px;
}

.play-again {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-play-again {
    background-color: var(--yellow);
    border-radius: 10px;
    color: var(--bg);
    cursor: pointer;
    display: none;
    font-weight: bold;
    padding: 10px 20px;
}

.game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }
  
  .keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard-cont div {
    display: flex;
  }
  
  .second-row {
    margin: 0.5rem 0;
  }
  
  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

@media screen and (max-width: 414px) {
    header {
        justify-content: center;
    }

    .header {
        height: 60px;
    }

    header img {
        height: auto;
        width: 40px;
    }

    .wordle {
        margin-top: 30px;
        width: 280px;
    }

    .wordle .row {
        grid-template-columns: 52px 52px 52px 52px 52px;
        height: 52px;
    }
}
