/*general*/
* {
    margin: 0;
    box-sizing: border-box;
}

.htmlNormal{
    width: 100%;
    height: 100%;
}
.htmlAdmin{
    width: 100%;
}
body{
    height: 80%;
    background-image: url("../images/fondo3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: left;
    background: #f9efdb;
    font-size: 2em;
    height: 3em;
    gap: 1%;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
header img{
    margin-top: -0.5%;
}
h2{
    margin-left: 2%;
}   

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
}

.footerNormal{
    position: fixed;
    bottom: 0;
    background: #f9efdb;
    height: 4.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

input {
    width: calc(25vw - 1vh);
    height: calc(2vw - 0vh);
}

/*login.html*/
#containerForm{
    background-color: white;
    width: 45%;
    border-style:solid;
    border-radius: 15px;
    border-width: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 3%;
}

#containerForm h1{
    font-size: calc(4vw + 4vh);
    margin-bottom: 25px;
    text-align: center;
}

#loginForm {
    text-align: center;
    align-items: center;
    align-content: center;
}

#divUsername, #divPassword{
    display: flex;
    justify-content: space-around;
    font-size: calc(1vw + 1vh);
    gap: 5%;
}
#registerUsername label, #registerPassword label, #registerConfirmPassword label{
    width: 10em;
}
button {
    margin-bottom: 5%;
    background: #9dbc98;
    border-radius: 5px;
    border-width: 3%;
    border-color: black;
    width: 6em;
    height: 3em;
    font-size: 1em;
}
/*register.html*/
#registerDiv{
    background-color: white;
    width: calc(5% + 45%);
    padding: 50px;
    border-style:solid;
    border-radius: 15px;
    border-width: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 3%;
}
#registerDiv h1{
    font-size: calc(3.5vw + 3.5vh);
    margin-bottom: 25px;
    text-align: center;
}
#registerForm {
    text-align: center;
    align-items: center;
    align-content: center;
}
#registerUsername, #registerPassword, #registerConfirmPassword{
    display: flex;
    justify-content: space-around;
    gap: 1%;
    font-size: calc(1vw + 1vh);
}
/*admin.html*/
.bodyAdmin{
    background: none;
}
.getAll{
    width: 30%;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    background: #f9efdb;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 15px rgba(2, 2, 2, 0.5); /* Shadow effect */
    font-weight: 900;
    font-style: normal;
}
#adminMain{
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #9dbc98;
    text-align: center;
    align-items: center;
    align-content: center;
}
.footerAdmin{
    background: #f9efdb;
    height: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
    flex: 0.2;
}
#crud{
    font-size: calc(8vh + 8vw);
    margin-bottom: 3%;
}
label{
    font-size: 1.2em;
}
#divPrompts{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 50%;
}
.divChild{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 3%;
    width: 100%;
    margin-bottom: 6%;
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    background: white;
}
#formMatch, #formPlayer, #formTeam, #formLeague, #formStadium {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
}
.formPrompt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-bottom: 3%;
    width: 100%;
    gap: 3%;
}
.inputSubmit{
    background: #f9efdb;
    margin-bottom: 3%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    box-shadow: 0 4px 15px rgba(2, 2, 2, 1);
    width: 30%;
}
table{
    border-style: solid;
    border-width: 3px;
    margin-bottom: 3%;
}
table tr{
    background: #9dbc98;
}

.start{
    height: calc(4vh + 4vw);
    width: calc(6vh + 8vw);
    border-radius: 90px;
    border-width: 0%;
    text-decoration: none;
    font-size: calc(2vh + 2vw);
    color: black;
}
.button{
    font-size: 1.5em;
    width: 3em;
    height: 3em;
    text-decoration: none;
    color: black;
    margin-left: auto;
}
#text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    align-content: center;
    text-align: left;
    width: 50%;
}
#divButton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    align-content: right;
    text-align: right;
    width: 20%;
}
#startContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background: #f9efdb; 
    width: 100%;
    height: 30vh;
}
#startContainer h2{
    font-size: calc(4vh + 4vw);
}
/*choose team*/
#chooseTeam{
    background-color: white;
    width: calc(80vw - 50vh);
    height: calc(50vw - 40vh);
    padding: 50px;
    border-style:solid;
    border-radius: 15px;
    border-width: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
#chooseTeam h2{
    font-size: calc(3vw + 2vh);
    margin-bottom: 25px;
    text-align: center;
}
#seleccionEquipo{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
   align-items: center;
   align-content: center;
}
#seleccionEquipo h3{
    font-size: calc(2vw + 2vh);
}
#todayTeam{
    margin-top: 6%;
    font-size: calc(1vw + 1vh);
}
#divSelect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;    
}
#divSelect select{
    width: 30%;
    height: 100%;
    font-size: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 3px;
    background: #f9efdb;
}
/*ranking.html*/
#rankingDiv{
    background-color: white;
    width: 45%;
    border-style:solid;
    border-radius: 15px;
    border-width: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 3%;
}
#rankingDiv h1{
    font-size: calc(4vw + 4vh);
    margin-bottom: 25px;
    text-align: center;
}
#tops {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
#continueButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.continue{
    height: calc(2vh + 3vw);
    width: calc(4vh + 8vw);
    text-decoration: none;
    font-size: calc(1.2vh + 1.2vw);
    color: black;
}
#medals {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Evenly space items vertically */
    align-items: center; /* Align items horizontally centered */
    width: 100%;
}

#medals h3 {
    font-size: 2em; /* Initial font size */
    margin: 0; /* Remove default margin */
}
#firstPlace,
#secondPlace,
#thirdPlace {
    margin-bottom: 5%;
}
#firstPlace img,
#secondPlace img,
#thirdPlace img {
    width: 6vw;
    height: 6vw;
}

@media (max-width: 768px) {
    #medals h3 {
        font-size: 1.5em;
    }

    #firstPlace img,
    #secondPlace img,
    #thirdPlace img {
        width: 10vw;
        height: 10vw;
    }
}

@media (max-width: 480px) {
    #medals h3 {
        font-size: 1.2em;
    }

    #firstPlace img,
    #secondPlace img,
    #thirdPlace img {
        width: 15vw;
        height: 15vw;
    }
}
